body[data-theme="light"] {
  @import 'light-slider';
  @import '../shared-colors';

  .slider-tab {
    background-color: $primary-bg-dark;
  }

  .title-styles {
    color: $primary-bg-dark;
  }

  .slider-image {
    border: 5px solid $grey;
  }

  .link-href {
    color: $primary-bg-dark;
  }

  .project-date {
    background-color: #918e97;
    color: $primary-bg-dark;
  }

  .home {
    background-color: $primary-bg-light;
    h1 {
      color: $primary-bg-dark;
    }
  }

  #about {
    background-color: $primary-bg-light;
    h1 span {
      color: $primary-bg-dark;
    }
    .polaroid span {
      background:  #6d6d6d;
    }
    .card {
      background: #6d6d6d;
      color: $primary-bg-dark;
    }
  }

  #portfolio {
    background: #5b5b5b;
    .section-title {
      color: $primary-bg-dark !important;
    }
    .foto div {
      background: #6d6d6d;
    }
    .project-title-settings {
      color: $primary-bg-dark;
    }
  }

  #experience {
    filter: brightness(80%);
    background: #5b5b5b;
    .section-title {
      color: $primary-bg-dark !important;
    }

    .experience-badge {
      background: #919191 !important;
      color: $primary-bg-dark;
    }

    .main-badge {
      background: #919191 !important;
    }
  }

  .modal-inside .modal-content {
    background: #5b5b5b;
    color: $primary-bg-dark;
  }

  .close-icon {
    color: $primary-bg-dark;
  }
}