footer {
  background: #1F1F1F;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: white;
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 2rem 0;
}

footer a,
footer a:visited {
  color: #fff;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

.social-links {
  margin-bottom: 1rem;
  font-size: 22px;
}