.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  overflow: hidden;
  background-color: #e9d5a1;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-bottom: 0;
}