.language-icon {
  font-size: 50px;
  cursor: pointer;
  margin-left: 1.25rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  width: 100vw;
  position: fixed;
  z-index: 10;

  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-right: 10rem;
  backdrop-filter: blur(100px);
}

.nav-link {
  background-color: transparent;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 0;
}

.option-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.5vw;
}

.theme-container {
  display: flex;
  align-items: center;
}
