

.project-header{
  font-size: 5rem;
  @media only screen and (max-width: 1050px) {
    font-size: 4rem;
  }
}

.project-subheader {
  font-size: 3rem;
}

.project-link {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-weight: bold;
}

.project-date {
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.small-icons {
  font-size: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;

  @media only screen and (max-width: 1050px) {
    padding: 0;
    border: none;
    border-radius: 0;
    height: fit-content;
  }
}

.description-text {
  font-size: 2.1rem;
}

.project-text-container {
  display: flex;
  max-width: 30vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;

  @media only screen and (max-width: 1050px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 40px;
  }
}

.project-information-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  text-align: left;

  @media only screen and (max-width: 1050px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.odd-info-container {
  flex-direction: row-reverse;

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.even-info-container {
  text-align: left;
}

.odd {
  align-items: end;
  text-align: right;
}

.even {
  text-align: right;
}

.tech {
  display: flex;
  align-content: center;
  justify-content: center;
}


// Images
.project-image-container {
  display: grid;
  &:hover > .blur {
    filter: blur(2rem);

  }
}

.blur {
  position: relative;
  grid-area: 1 / 1;
  max-width: 23vw;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(4rem);
  transition: opacity 0.5s ease, filter 0.5s;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  @media only screen and (max-width: 1050px) {
    filter: blur(2rem);
  }
}

.project-image {
  grid-area: 1 / 1;
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.7s;
  object-fit: cover;
  object-position: center;
  max-width: 23vw;
  border-radius: 7px;
}




